body {
    background-color: #f4a261;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


.pizza {
    /*box-model */
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    /*margin-left: 0em; */
    margin-bottom: 0.5em;
    border-radius: 3em;
    
     
    /* use display: inline-block */

    /* 
    width: 20em;
    display: inline-block; 
    */ 
 

}
.small_pizza {
    background-color: #ddbea9;
    flex: 1
}

.medium_pizza {
    background-color: #b7b7a4;
    flex: 1
    
} 
.large_pizza {
    background-color:  #ffd7ba;
    flex: 1
}
.contact_us {
    background-color: #ffcdb2;
    text-align: center;
    flex: 1

}

@media (min-width:560px) {

    body {
        background-color: rgb(180, 119, 119);
   }
}

@media(min-width: 960px) {

    body {
    background-color: #e07a5f;
    }
    .pizzas {
        Display: flex;
    }
}
